<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.softcodeinfotech.helpapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".MyApp"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute"
        tools:replace="allowBackup,supportsRtl">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".EmailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EmailVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignupLoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ForgotPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MailVerifyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfilesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetProfileImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".KycActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddHelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HistoryActivity"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>